<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Venture Foods{% endblock title %}</title>

</head>
<body>
<ul>
    <li>
        <a href="{% url 'customerlogin'%}"><strong>Customer Login</strong> </a>
    </li>

    <li>
        <a href="{% url 'vendorlogin'%}"><strong>Vendor Login</strong> </a>
    </li>

    <li>
        <a href="{% url 'customersignup' %}"><strong>Customer Signup</strong></a>
    </li>

    <li>
        <a href="{% url 'vendorsignup' %}"><strong>Vendor Signup</strong></a>
    </li>
</ul>



</body>
</html>